body{
    background-color: rgba(165, 12, 12, 0.315);
    background-image: linear-gradient(rgba(163, 13, 13, 0.541), rgba(24, 126, 151, 0.63));
    color: rgba(9, 3, 29, 0.616);
   
     h1{
        color: rgba(243, 17, 17, 0.89);
        text-shadow: rgb(128, 11, 27) 2.5px 2.5px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 2.5rem;
        margin:10px;
            }
    p{
        color: rgba(29, 5, 2, 0.575);
        text-shadow:  rgba(5, 1, 22, 0.603) 1.5px 1.5px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 1.2rem;
    }
    img {
    text-align: center;
    width: 70%;
    margin: auto;
    display: block;
    padding: 29px;
    border-radius: 20%;
}
.video{
    margin: auto;
    text-align: center;